@model WebApplication6.Models.Users

@{
    ViewBag.Title = "Accept";
}

<h2>Accept</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeofBusiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeofBusiness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeStrength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeStrength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        

    </dl>
</div>
<p>
    @using (Html.BeginForm("SendEmail","User", new { id = Model.phoneNo },FormMethod.Post))
    {
        <button id="btnSubmit" type="submit" value="Send Email"></button>
    }
        @Html.ActionLink("Send Email", "SendEmail", new { id = Model.phoneNo }) |
@Html.ActionLink("Back to List", "Index")
</p>
